


button:hover {
  border-color: #646cff;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.ahoj{
margin-left: 25px;
}

li{
  font-size: 20px;
}

